{% extends 'tube\base.html' %}

{% block context %}
{% load static %}

{% if messages %}
	{% for message in messages %}
		<p>{{message}}</p>
	{% endfor %}
{% endif %}

<h1>Select option</h1>


{# col-md-6 offset-md-3 #}
<div class="">
	<form method="POST" action="{% url 'download' %}">
		<div class="mb-3">
			{% csrf_token %}
			<label for="exampleInputLink" class="form-label">Link</label>
			<input type="text" class="form-control" id="exampleInputLink" aria-describedby="linkHelp" name="link" value="{{link}}" readonly>
			<div id="linkHelp" class="form-text">Your Youtube's link</div>
		</div>

		<h2>List video:</h2>
		{% if videos %}
		<div class="select-option row .row-cols-3 g-3" id="Video">
			{% for video in videos.items %}
			<div class="col">
				<div class="card" style="width: 18rem;">
 					<img src="{{thumbnail}}" class="card-img-top" alt="Thumbnail">
					<div class="card-body">
						<h5 class="card-title">{{media_title}}</h5>
						<p class="card-text"></p>
					</div>
					
					<ul class="list-group list-group-flush">
						{% for infor in video %}
							{% for key, value in infor.items %}
								<li class="list-group-item">{{key|title}}: {{value}}</li>
							{% endfor %}
						{% endfor %} 
					</ul>
					<div class="card-body">
						<input type="submit" name="itag" value="{{video.1.itag}}" class="btn btn-info" id="itag"/>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endif %}

		<br>

		<h2>List audio:</h2>
		{% if audios %}
		<div class="select-option row .row-cols-3 g-3" id="Audio">
			{% for audio in audios.items %}
			<div class="col">
				<div class="card" style="width: 18rem;">
 					<img src="{{thumbnail}}" class="card-img-top" alt="Thumbnail">
					<div class="card-body">
						<h5 class="card-title">{{media_title}}</h5>
						<p class="card-text"></p>
					</div>
					
					<ul class="list-group list-group-flush">
						{% for infor in audio %}
							{% for key, value in infor.items %}
								<li class="list-group-item">{{key|title}}: {{value}}</li>
							{% endfor %}
						{% endfor %} 
					</ul>
					<div class="card-body">
						<input type="submit" name="itag" value="{{audio.1.itag}}" class="btn btn-info" id="itag"/>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endif %}
	</form>
</div>
{% endblock %}